body {
  margin: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: rgba(250, 128, 114, 0.419);
}

h1 {
  font-size: 50px;
  letter-spacing: 8px;
  color: rgba(205, 92, 92, 0.778);
  font-family: cursive;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.8);
}

.buttons {
  display: flex;
  justify-content: center;
  align-items: center;
  column-gap: 130px;
}

.btn {
  border-radius: 20px;
  border: none;
  font-family: cursive;
  cursor: pointer;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.8);
}

.jinx {
  display: flex;
  flex-direction: column;
  padding: 20px;
}

.pretty {
  display: flex;
  flex-direction: column;
}

.btn.sound {
  height: 200px;
  width: 200px;
  margin: 50px;
  color: white;
  font-size: 25px;
}

.btn.sound.ji {
  background-image: url("imagesJinx/jinx4.jpeg");
  background-size: cover;
  background-position: center;
  text-align: center;
}

.btn.sound.pr {
  background-image: url("imagesPretty/pretty4.jpeg");
  background-size: cover;
  background-position: center;
  text-align: center;
}


.btn.photos,
.btn.video {
  height: 40px;
  width: 100%;
  margin: 0px 0px 20px 0px;
  background-color: rgba(205, 92, 92, 0.778);
  color: white;
}

.btn.both {
  height: 40px;
  width: 200px;
  background-color: rgba(205, 92, 92, 0.778);
  color:white;
}

.btn.sound:hover {
  color: burlywood;
}

.btn.sound.ji:active {
  background-size: 150%;
}

.btn.photos:hover,
.btn.video:hover {
  color: rgb(125, 57, 57);
  background-color: rgb(205, 92, 92);
}

.btn.sound.pr:active {
  background-size: 120%;
}

.slider-container {
  display: flex;
  position: relative;
  max-width: 530px;
  max-height: 900px;
  overflow: hidden; /*only one photo will appear*/
  border-radius: 15px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.8);
}

.image-jinx {
  display: flex;
  transition: transform 0.4s ease-in-out;
}
.image-pretty {
  display: flex;
  transition: transform 0.4s ease-in-out;
}

.changebutton {
  position: absolute;
  top: 50%;
  color: white;
  font-size: 30px;
  transform: translateY(-50%);
  opacity: 0.5;
  cursor: pointer;
}

.photos.close-icon {
 position: absolute;
 top: 20px;
 right: 10px;
 color: white;
 cursor: pointer;
 opacity: 0.5;
}

.video-container video {
  position: relative;
  max-width: 800px;
  outline: none;
}

@media (max-width: 600px) {
  .video-container video {
    max-width: 80%;
  }
}

.close-icon.videos {
  position: absolute;
  top: 30px;
  right: 50px;
  color: white;
  cursor: pointer;
  opacity: 0.5;
}
.changebutton.prev {
  left: 10px;
}
.changebutton.next {
  right: 10px;
}

.changebutton:hover,
.close-icon:hover {
  opacity: 100%;
}


.buttons.active {
  display: none;
}

h1.active {
  display: none;
}

.image-jinx.active {
  display: none;
}

/*
.changebutton.active {
  display: none;
}
*/

.image-pretty.active {
  display: none;
}


.video-jinx.active {
  display: none;
}

.video-pretty.active {
  display: none;
}

.close-icon.videos.active {
  display: none;
}


.both.active {
  display: none;
}

.video-both.active {
  display: none;
}
